<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home</title>
    <link rel="stylesheet" href="/static/mainII.css" type="text/css"/>

</head>
<body>
    <div class="containerNav">
        <img src="{{
            url_for('static',
            filename = 'logo2.png')
            }}"
            alt="image">
            <nav>
                    <a href="http://127.0.0.1:5000/" id="#" target="_self" style="padding-left: 100px;"> HOME</a>
                    <a href="http://127.0.0.1:5000/Test" id="#" target="_self"  style="padding-left: 100px;"> CHECK-UP</a>       
                    <a href="http://127.0.0.1:5000/Sign-in" id="#" target="_self"
                         style="padding-left: 10px; margin-right: 50px; border: 0px solid transparent; border-radius: 5px; 
                         box-shadow: 2px 2px 1px 1px whitesmoke;" 
                         > SIGN IN</a>


            </nav>

    </div>
    <div class="statementOne">
        <h1>
            DISEASE DIAGNOSIS
        </h1>
        <p>
            Disease diagnosis is the most critical task in the medical diagnosis system. At present, the biggest challenge
            is to predict heart disease very quickly; for that limitation, the number of dying people is increasing day by
            day. If a heart disease is diagnosed quickly,
             we can reduce the death rate indisputably.
             The health care industries collect huge amounts of data that contain some hidden information,
             which is useful for making effective decisions.
        </p>
    </div>
    <div class="statementTwo">
        <h1>
            CARDIOVASCULAR DISESAE (CVD)
        </h1>
        <p>
            Cardiovascular Disease (CVD) is one of the leading positions holding diseases in the race of global death in
            developed countries. The mortality rate due to cardiovascular attack is increasing unusually in high-income
            regions and posing a significant challenge in the health sector (Faizal et al. 2021; Bantham et al., 2021).
            According to the Survey of National Surveillance System for Cardiovascular Disease (2021), the age-adjusted
            prevalence of all categories of heart disease is 7%, where coronary artery disease is higher in males (8.3%)
            than females (6.1%) patients (Eremiasova et al., 2020). At the same time, coronary heart disease has been the
            reason for 16% of global death since 2019 (Yuyun et al., 2020). Unhealthy diet, lack of exercise, overweight,
            high systolic BP, high cholesterol level, greater fasting glucose level, high body mass index, tobacco-based
            smoking, and physical inactivity are the primary morbidity of all types of heart disease (Willinger et al.,
            2021). Angina, pressure, and pain in the chest, sometimes shortened breath are counted as the royal prefix of
            heart disease. Due to obstacles in blood circulation, sometimes patients feel numbness in the neck, jaw, throat,
            arm, and leg. Cardiovascular heart disease enhances boundless health and economic burdens in the USA and
            globally. According to WHO research, 8.9 million deaths worldwide in 2019, and the principal cause of those
            extensive deaths is cardiovascular heart disease. Coronary heart disease has formed the world's biggest killer
           in the last 15 years (Builder, 2021; Parambi, et al., 2020; Liou et al., 2020).
        </p>
    </div>
    


    
</body>
</html>