<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/static/Test.css" type="text/css">
</head>
<body>
    <a href="http://127.0.0.1:5000/" target="_self" id="#"> HOME</a>
    <div class="containerForm">

                 <div class="TestForm">
                    <h1> Disease Check </h1>

                    <form action="">
                        <input type="number" value="Age" placeholder="Age" required>
                        <input type="number" value="Chest pain type" placeholder="Chest pain type" required>
                        <input type="number" value="Resting blood pressure" placeholder="Resting blood pressure" required>
                        <input type="number" value="Serum cholesterol" placeholder="Serum cholesterol" required>
                        <input type="number" value="Fasting blood surgar" placeholder="Fasting blood surgar" required>
                        <input type="number" value="Resting ECG" placeholder="Resting ECG" required>
                        <input type="number" value="Thalac" placeholder="Thalac (maxHeartRate)" required>
                        <input type="number" value="Exang" placeholder="Exang (Excercise induced angina)" required>
                        <input type="number" value="Oldpeak" placeholder="Oldpeak (ST depression induced)" required>
                        <input type="number" value="Slope" placeholder="Slope (peak ST segment)" required>
                        <input type="number" value="ca" placeholder="ca (major vessel color)" required>
                        <input type="number" value="Thal" placeholder="Thal (thalassemia)" required> <br>
                        <input type="radio" name="Gender" id="#" value="male" required > Male 
                        <input type="radio" name="Gender" id="#" value="female"  required> Female
                            <button type="submit"> CHECK NOW </button>
                    </form>
                   
                


                  </div>

                <div class="Result" >
                    <h1>Result of Check up</h1>
                    <h3>Here Result 0 means (No Disease) & 1 means (Yes Disease)</h3>
                </div>

    </div>
    
</body>
</html>